{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<div class="hero-section position-relative text-center text-white">
  <img src="{% static 'images/homepage-image.jpg' %}" class="img-fluid w-100" style="height: 100vh; object-fit: cover;" alt="Fitness Background">
  <div class="overlay position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center" style="top: 0; background: rgba(0, 0, 0, 0.6);">
    <h1 class="display-4 font-weight-bold">Welcome to Mira Fit</h1>
    <p class="lead">Your journey to a healthier life starts here!</p>
    
  </div>
</div>
{% endblock %}

