/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Global Styles */
html {
    scroll-behavior: smooth;
}

.custom-dark-blue {
    background-color: #ff6600 !important; 
}

.newsletter-btn {
    background-color: #D81B60;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-btn:hover {
    background-color: #C2185B;  /* Darker shade on hover */
}




